@model RomeApp.Models.DeviceSelectPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>デバイスを選択してください</h2>
        <form asp-controller="Home" asp-action="Register" method="post">
            <select asp-for="SelectedDeviceId" asp-items="Model.Devices"></select>
            <input type="submit" value="登録" />
        </form>
    </div>
</div>
